/* GENERAL */

body{
    font-family: 'Roboto', sans-serif;
}


h2, h3, h4, h5, h6{
    margin: 0 auto;
    padding: 0 0 0 0;
}

p{
    font-size: 13px;
}

main{
    padding-bottom: 150px;
}

 /* HEADER */

#main-header{
    background-color: #B1C2ED; 
    padding-top: 50px;
    margin-bottom: 40px;
}

#main-header h1{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 64px;
    margin: 0 auto;
    padding-bottom: 10px;
}

#main-header h2{
    color: #17328F;
    font-size: 36px;
    margin: 0 auto;
}

#main-header nav{
    background-color: #9C6B6B;
}

#main-header nav ul{
    padding: 15px 0 15px 0;
}

#main-header nav ul li{
    display: inline-block;
    min-width: 95px;
}

#main-header nav ul li a{
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
}

#main-header nav ul li a:hover{
    text-decoration: underline;
    color: #410101;
    font-weight: bold;
}

/* MAIN */

#intro{
    margin-top: 25px;
    margin-bottom: 25px;
    height: 450px;
    overflow: hidden;
}

#intro article{
    background-color: #C4C4C4;
    width: 71%;
    padding: 1.5%;
    min-height: 100%;
    float: left;
}

#intro article h2{
    font-size: 36px;
    text-transform: uppercase;
}

#intro article h3{
    font-size: 18px;
}

#intro article h4{
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
}

#intro article a {
    color: black;
    font-size: 14px;
    font-weight: bold;
    float: right;
}

#intro aside{
    background-color: #B96767;
    width: 25%;
    min-height: 100%;
    float: right;
}

#intro aside h2{
    text-align: center;
    background-color: #ffffff;
    font-size: 24px;
    padding-top: 12px;
    padding-bottom: 18px;
    font-weight: bold;
}

#intro aside ul, ol{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    list-style-type: none;
}

#meilleurs{
    padding-bottom: 100px;
}

#meilleurs article{
    background-color: #C4C4C4;
    width: 46%;
    height: 140px;
    padding: 20px 1% 20px 1%;
    margin: 0 1% 0 1%;
    overflow: hidden;
    display: inline-block;
}

#meilleurs article h2{
    font-size: 18px;
    text-align: center;    
}

#pikaright{
    transform: scaleX(-1);
    max-width: 256px;
    width: 25%;
    float: right;
}

.pika256{
    max-width: 256px;
    width: 25%;
    float: left;
}

.stats{
    background-color: #C4C4C4;
    max-height: 240px;
    padding: 25px;
    overflow: hidden;
    margin: 25px 0 25px 0;
}

.stats h2{
    font-size: 36px;
    display: inline-block; 
}

.stats h3{
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

.stats h4{
    font-size: 18px;
}

.stats ul{
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.stats ul li{
    list-style-type: none;
    font-size: 13px;
}

.stats h5{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* FOOTER */

#main-footer{
    background-color: #898989;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0;
}
#main-footer p{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 30px 0 30px 0;
}

/* UTILITIES */

.wrap1024{
    margin: 0 auto;
    width: 1024px;
}
